* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: lime;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: white;
}

p {
    font-size: 18px;
    color: 00ff00;
}
